#root {
width:100%;
height:100vh;
display:flex;
flex-direction: row;
}
h1{
  text-align: center;
  font-size:80px;
}
.container-right{
  display:flex;
  flex-direction: column;
  height:100%;
  width:50%;
}
.word{
  display:flex;
  justify-content: center;
  align-items: center;
  height:20vh;
  flex-direction: row;
}
#letter-visible{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
  width:50px;
  height:50px;
  background:none;
  content: none !important;
  border-bottom:10px solid white;
  font-size:35px;
}
.letter{
  display:none;
}
#letter-none{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
  width:50px;
  height:50px;
  background:none;
  content: none !important;
  border-bottom:10px solid white;
  font-size:35px;
}
.keyboard{
  width:100%;
  min-height: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#table{
  width:50px;
  height:50px;
  font-size:25px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  margin:10px;
  border-radius:10px
}
#table:hover{
  background:rgb(20,20,20);
  transform: scale(1.1);
}
.figure-container {
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:25px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}
.parts{
  min-width:0;
}
.coins{
  display:flex;
  justify-content: center;
  align-items: center;
width:100%;
min-height:10vh;
font-size:30px;
}
@media only screen and (max-width:750px){
  .figure-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }
}
.status{
  width:100%;
  min-height:0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:40px;
}